name: scheduled update
on:
  # run workflow automatically
  schedule: 
    # This will make it run every hour
    - cron: "0 * * * *"
    # run workflow manually (without waiting for the cron to be called), through the github actions workflow page directly
  workflow_dispatch:
jobs:
  render_readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v3
        with: 
          python-version: '3.8'
          cache: 'pip'

      - name: load python environment
        run: pip install -r requirements.txt

      - name: action__render_readme
        run: |
          python3.8 action__render_readme.py

      - name: update repository
        run: |
          git config pull.rebase false
          git pull
          git add .
          git config --global user.name "justineichelberger"
          git config --global user.email "justin.g.eichelberger@gmail.com"
          git commit -m "[Automated] README updated with 'this day in history' section"
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  update-readme-with-blog:
    needs: render_readme
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          # Replace this URL with your rss feed URL/s
          feed_list: "https://braydoncoyer.dev/rss/feed.xml"
